@using Timetable.Site.Infrastructure
@{var model = new JsonNetResult(Model);}

<script>
    window.pageModel = @Html.Raw(model.JsonText);
</script>

<div class="container" style="padding-right: 0; padding-left: 0; margin-top: 75px; overflow-y: visible;">
    <div class="row">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default" ng-controller="UserSettingsController">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-user"></i>
                            <a data-toggle="collapse" data-parent="#accordion2" data-target="#userSettings" href="">
                                Настройки пользователя
                            </a>
                        </h4>
                    </div>
                    <div id="userSettings" class="panel-body collapse">
                        <form class="form-horizontal" role="form" name="form">
                            <div class="form-group" ng-class="{'has-error': form.login.$error.required}">
                                <label class="col-sm-2 control-label">Логин</label>
                                <div class="col-sm-8">
                                    <input name="login" type="text" class="form-control" placeholder="Логин" ng-model="login" disabled="disabled" required="required">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': form.password.$error.validator}">
                                <label class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-8">
                                    <input name="password" type="password" class="form-control" placeholder="Пароль" ng-model="password">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': form.confirmPassword.$error.validator}">
                                <label class="col-sm-2 control-label">Повтор пароля</label>
                                <div class="col-sm-8">
                                    <input name="confirmPassword" type="password" class="form-control" placeholder="Повтор пароля" ng-model="confirmPassword" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
                                </div>
                            </div>
                            <hr />
                            <div class="form-group" ng-class="{'has-error': form.lastname.$error.required}">
                                <label class="col-sm-2 control-label">Фамилия</label>
                                <div class="col-sm-8">
                                    <input name="lastname" type="text" class="form-control" placeholder="Фамилия" ng-model="lastname" required="required">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': form.firstname.$error.required}">
                                <label class="col-sm-2 control-label">Имя</label>
                                <div class="col-sm-8">
                                    <input name="firstname" type="text" class="form-control" placeholder="Имя" ng-model="firstname" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Отчество</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Отчество" ng-model="middlename">
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="pull-left text-danger" ng-hide='form.confirmPassword.$error.validator' ng-show="form.$invalid">
                                        <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>Поля, окрашенные красным, обязательны для заполнения</b>
                                    </div>
                                    <div class="pull-left text-danger" ng-show='form.confirmPassword.$error.validator'>
                                        <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>Пароли не совпадают</b>
                                    </div>
                                    <div class="pull-left text-danger" ng-show='message'>
                                        <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>{{message}}</b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" ng-click="save()" class="btn btn-success" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-ok"></i> Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default" ng-controller="UsersController">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo" href="">
                                Управление пользователями
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-body collapse">
                        <button class="btn btn-success" ng-click="showCreateUserDialog()"><i class="glyphicon glyphicon-plus"></i> Создать пользователя</button>
                        &nbsp;
                        <hr />
                        <span class="muted" ng-show="!users || users.length == 0"><i>Список пуст</i></span>
                        <table class="table table-striped" ng-show="users || users.length > 0">
                            <thead>
                                <tr>
                                    <th>Логин</th>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>{{user.login}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.middlename}}</td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-sm btn-warning" ng-click="edit(user)"><i class="glyphicon glyphicon-edit"></i></button>
                                        <button class="btn btn-sm btn-danger" ng-click="delete(user)"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default" ng-controller="DataSyncController">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-refresh"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#refreshData" href="">
                                Обновление данных
                            </a>
                        </h4>
                    </div>
                    <div id="refreshData" class="panel-body collapse">
                        <button class="btn" ng-click="syncDataClick()" ng-disabled="isSyncStarted"><i class="glyphicon glyphicon-refresh"></i> Обновить данные сейчас</button>
                        &nbsp;
                        @*<span>Дата и время последнего обновления: </span>*@
                        <hr />
                        <span class="muted" ng-show="logs.length == 0"><i>Список пуст</i></span>
                        <ol>
                            <li ng-repeat="log in logs">{{log}}</li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-phone"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#notifications" href="">
                                Настройка уведовлений
                            </a>
                        </h4>
                    </div>
                    <div id="notifications" class="panel-body collapse">
                        <form class="form-horizontal" role="form" name="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <label class="checkbox">
                                        <input type="checkbox" disabled="disabled"> Отправлять СМС-уведомления об изменениях расписания
                                        <i class="icon-info-sign"></i>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" disabled="disabled"> Отправлять Email-уведомления об изменениях расписания
                                        <i class="icon-info-sign"></i>
                                    </label>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn" disabled="disabled"><i class="glyphicon glyphicon-ok"></i> Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#dataManagment" href="">
                                Управление данными       
                            </a>
                        </h4>
                    </div>
                    <div id="dataManagment" class="panel-body collapse">
                        <div class="accordion-inner">
                            <ul class="nav nav-tabs">
                                    <li class="active"><a data-target="#auditoriums" data-toggle="tab">Аудитории</a></li>
                                    <li><a data-target="#auditoriumTypes" data-toggle="tab">Типы аудиторий</a></li>
                                    <li><a data-target="#courses" data-toggle="tab">Курсы</a></li>
                                    <li><a data-target="#groups" data-toggle="tab">Группы</a></li>
                                    <li><a data-target="#lecturers" data-toggle="tab">Преподаватели</a></li>
                                    <li><a data-target="#scheduleInfoes" data-toggle="tab">Сведения к расписанию</a></li>
                                    <li><a data-target="#schedules" data-toggle="tab">Занятия</a></li>
                                    <li><a data-target="#scheduleTypes" data-toggle="tab">Типы занятий</a></li>
                                    <li><a data-target="#semesters" data-toggle="tab">Семестры</a></li>
                                    <li><a data-target="#studyYears" data-toggle="tab">Года</a></li>
                                    <li><a data-target="#weekTypes" data-toggle="tab">Типы недели</a></li>
                                    <li><a data-target="#times" data-toggle="tab">Звонки</a></li>
                                    <li><a data-target="#tutorials" data-toggle="tab">Предметы</a></li>
                                    <li><a data-target="#tutorialTypes" data-toggle="tab">Типы предметов</a></li>
                                </ul>
                                <div class="tab-content">
                                        <div class="tab-pane active" id="auditoriums" ng-controller="AuditoriumsController">@Html.Partial("_AuditoriumsEditTable")</div>
                                        <div class="tab-pane" id="auditoriumTypes" ng-controller="AuditoriumTypesController">@Html.Partial("_AuditoriumTypesEditTable")</div>
                                        <div class="tab-pane" id="courses">courses</div>
                                        <div class="tab-pane" id="groups">groups</div>
                                        <div class="tab-pane" id="lecturers">lecturers</div>
                                        <div class="tab-pane" id="scheduleInfoes" ng-controller="ScheduleInfoesController">@Html.Partial("_ScheduleInfoesEditTable")</div>
                                        <div class="tab-pane" id="schedules" ng-controller="ScheduleController">@Html.Partial("_SchedulesEditTable")</div>
                                        <div class="tab-pane" id="scheduleTypes" ng-controller="ScheduleTypesController">@Html.Partial("_ScheduleTypesEditTable")</div>
                                        <div class="tab-pane" id="semesters" ng-controller="SemestersController">@Html.Partial("_SemestersEditTable")</div>
                                        <div class="tab-pane" id="studyYears" ng-controller="StudyYearsController">@Html.Partial("_StudyYearsEditTable")</div>
                                        <div class="tab-pane" id="weekTypes" ng-controller="WeekTypesController">@Html.Partial("_WeekTypesEditTable")</div>
                                        <div class="tab-pane" id="times">times</div>
                                        <div class="tab-pane" id="tutorials">tutorials</div>
                                        <div class="tab-pane" id="tutorialTypes" ng-controller="TutorialTypesController">@Html.Partial("_TutorialTypesEditTable")</div>
                                        <div class="tab-pane" id="studyTypes" ng-controller="StudyTypesController">@Html.Partial("_StudyTypesEditTable")</div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>

<script type="text/ng-template" id="editusermodal.html">
    @Html.Partial("_EditUserModal")
</script>

<script type="text/ng-template" id="editauditoriummodal.html">
    @Html.Partial("_EditAuditoriumModal")
</script>

<script type="text/ng-template" id="editauditoriumtypemodal.html">
    @Html.Partial("_EditAuditoriumTypeModal")
</script>

<script type="text/ng-template" id="editweektypemodal.html">
    @Html.Partial("_EditWeekTypeModal")
</script>

<script type="text/ng-template" id="edittutorialtypemodal.html">
    @Html.Partial("_EditTutorialTypeModal")
</script>

<script type="text/ng-template" id="editscheduletypemodal.html">
    @Html.Partial("_EditScheduleTypeModal")
</script>

<script type="text/ng-template" id="editsemestermodal.html">
    @Html.Partial("_EditSemesterModal")
</script>

<script type="text/ng-template" id="editstudyyearmodal.html">
    @Html.Partial("_EditStudyYearModal")
</script>

<script type="text/ng-template" id="editstudytypemodal.html">
    @Html.Partial("_EditStudyTypeModal")
</script>

<script type="text/ng-template" id="editscheduleinfomodal.html">
    @Html.Partial("_EditScheduleInfoModal")
</script>

<script type="text/ng-template" id="editschedulemodal.html">
    @Html.Partial("_EditScheduleModal")
</script>