@using System.Web.Optimization
@using Newtonsoft.Json
<!DOCTYPE html>
<html ng-app="scheduler">
<head>
    <script>
        var pathPrefix = "@HttpContext.Current.Request.ApplicationPath";
    </script>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/jquery")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/resources/css/ext-all.css")
    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/select2")
    @RenderSection("css", false)
    
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/Scripts/moment")
    @Scripts.Render("~/Scripts/App")
    @Scripts.Render("~/Scripts/Site/data.model.js")
    <script src="/signalr/hubs"></script>
    @RenderSection("scripts", false)
</head>
<body style="overflow:hidden;">
    @RenderSection("top", false)
    @RenderBody()
    @RenderSection("bottom", false)
</body>
</html>

