@using Timetable.Site.Infrastructure

@Html.Partial("Modals/_Planing")
@Html.Partial("Modals/_Thread")
@Html.Partial("Modals/_TimetableParams")

@Html.Partial("_ChildNavbar")
<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
    <div class="row-fluid" style="margin-top: 5px;">
        @Html.Partial("_ScheduleInfoList")
        @Html.Partial("_Timetable")
    </div>
</div>
@Html.Partial("_BottomNavbar")

@{ var model = new JsonNetResult(Model);}
<script>
    try {
        window.pageModel = @Html.Raw(model.JsonText.Replace("\\","\\\\"));
    } catch(e) {
        console.log(e);
    } 
</script>
